[Unit]
Description=PyLokid Dashboard Client
After=network.target

[Service]
User=pi
Restart=always
Environment="MQTT_SERVER=mybroker.example.com"
Environment="MQTT_USER=myuser"
Environment="MQTT_PASSWORD=mypassword"
ExecStart=/usr/bin/python3 /opt/dashboard_client.py

[Install]
WantedBy=multi-user.target
